{% extends 'scoring_system/base.html' %}

{% block head %}
    <title>Event Rankings</title>
{% endblock %}

{% block content %}
    <h1>Ranking page</h1>
    <table>
        {% for team in teams %}
            <tr>
                <th>{{ team.name }}</th>
                <th>{{ team.number }}</th>
                <th class="score">{{ team.match1 }}</th>
                <th class="score">{{ team.match2 }}</th>
                <th class="score">{{ team.match3 }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}