{% extends 'scoring_system/base.html' %}
{% load static %}

{% block head %}
    <title>Event Rankings</title>
    <link rel="stylesheet" href="{% static 'scoring_system/css/rankings.css' %}">
{% endblock %}

{% block content %}
    <div class="padding"></div>
    <h1 id="standings-header"></h1>
    <table class="rankings">
            <tr>
                <th class="name-header">Team Name</th>
                <th class="no-header">#</th>
                <th class="match-header">Match 1</th>
                <th class="match-header">Match 2</th>
                <th class="match-header">Match 3</th>
            </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.number }}</td>
                <td class="score">{{ team.match1 }}</td>
                <td class="score">{{ team.match2 }}</td>
                <td class="score">{{ team.match3 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
