{% extends 'scoring_system/base.html' %}
{% load static %}

{% block head %}
    <title>Match Score</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'scoring_system/css/score_view.css' %}">
    <script type="text/javascript" src="{% static 'scoring_system/js/scoreview.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Current Match</h1>
    </div>
    <div class="score-div">
        <table class="team-table">
            <tr class="team-header">
                <th class="red-name">
                    Red Team
                </th>
                <th class="vs">
                    vs.
                </th>
                <th class="blue-name">
                    Blue Team
                </th>
            </tr>
        </table>
        <table class="score-table">
            <tr>
                <th class="red-header">
                    <h1 id="red-score">0</h1>
                </th>
                <th class="timer-header">
                    <div class="timer">
                        <span class="minute">02</span>:<span class="second">30</span>
                    </div>
                </th>
                <th class="blue-header">
                    <h1 id="blue-score">0</h1>
                </th>
            </tr>
        </table>
    </div>
    <footer class="connection-footer">
        <h3 id="connection-status">Connecting...</h3>
    </footer>
    <script>
        setURL("{% static 'scoring_system/audio/buzzer.mp3' %}");
        startSocket();
    </script>
{% endblock %}