{% extends 'scoring_system/base.html' %}
{% load static %}
{% load range %}

{% block head %}
    <title>Scoring System</title>
    <link rel="stylesheet" href="{% static 'scoring_system/css/scoring.css' %}">
    <script type="text/javascript" src="{% static 'scoring_system/js/scoring.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Scoring system (event user only)</h1>
    <select id="team-selector">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
    </select>
    <select name="team-choice">
    {% for team in teams %}
        <option value="{{ team.name }}">{{ team.name }}</option>
    {% endfor %}
    </select>
    <select>
        <option value="match1">First Match</option>
        <option value="match2">Second Match</option>
        <option value="match3">Third Match</option>
    </select>
    {% for category in scoring_categories %}
        <div class="scoring-parent">
        <div class="scoring-category">
            <table>
                <tr class="category-header">
                    {{ category.category_name }}
                </tr>
                <th class="image-cell" rowspan="0">
                    <img class="category-image" src="{{ category.category_image.url }}">
                </th>
                {% for criteria in category.category_criteria.all %}
                    <tr>
                        <th class="criteria-header">{{ criteria.task_description }}</th>
                    </tr>
                    <tr>
                        {% if criteria.score_type == "b" %}
                            <td>
                                <label class="container">Yes
                                    <input type="checkbox" name="checkYes" sub-category="{{ criteria.sub_category }}" criteria-id="{{ forloop.counter }}" point-value="{{ criteria.score_multiplier }}" onclick="switchCheckBoxes(this)">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>
                                <label class="container">No
                                    <input type="checkbox" name="checkNo" sub-category="{{ criteria.sub_category }}" criteria-id="{{ forloop.counter }}" point-value="{{ criteria.score_multiplier }}" onclick="switchCheckBoxes(this)">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        {% elif criteria.score_type == "i" %}
                            <td>
                                {% if criteria.sub_category == "n1" %}
                                    <select id="precision-select" onchange="precisionUpdate(this)" point-value="{{ criteria.score_multiplier }}" old-value="{{ criteria.default }}">
                                        <option value="0">0</option>
                                        {% for i in criteria.max_input|range %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <select id="default-select" onchange="selectUpdate(this)" point-value="{{ criteria.score_multiplier }}" old-value="{{ criteria.default }}">
                                        <option value="0">0</option>
                                        {% for i in criteria.max_input|range %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </td>
                        {% else %}
                            <p>Something went wrong</p>
                            <p>{{ criteria.score_type }}</p>
                            <p>Heyo</p>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    {% endfor %}
    <div class="sticky">
        <table class="sticky-table">
            <tr>
                <th>Score:</th>
                <th name="final-score" id="score-value">0</th>
                <th>
                    <div class="timer">
                        <span class="minute">00</span>:<span class="second">10</span>
                    </div>
                </th>
                <th>
                </th>
            </tr>
        </table>
    </div>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function startRoutine() {
            startSocket();
            defaultCheckBoxes();
            await sleep(5000);
            updateScore();
        }

        startRoutine();
    </script>
{% endblock %}