{% extends 'scoring_system/base.html' %}
{% load static %}

{% block head %}
    <title>Match Score</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'scoring_system/css/score_view.css' %}">
    <script type="text/javascript" src="{% static 'scoring_system/js/scoreview.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <table class="big-timer-div">
                <th class="timer-header">
                    <div class="timer">
                        <span class="minute">02</span>:<span class="second">30</span>
                    </div>
                </th>
        </table>
    </div>
    <div class="score-div">
        <table class="team-table">
            <tr class="team-header">
                {% if field == 1 %}
                    <th class="t1-name">{{ field_data.f1_t1_color }}</th>
                    <th class="vs"> </th>
                    <th class="t2-name">{{ field_data.f1_t2_color }}</th>
                {% elif field == 2 %}
                    <th class="red-name">{{ field_data.f2_t1_color }}</th>
                    <th class="vs"> </th>
                    <th class="blue-name">{{ field_data.f2_t2_color }}</th>
                {% elif field == 3 %}
                    <th class="red-name">{{ field_data.f3_t1_color }}</th>
                    <th class="vs"> </th>
                    <th class="blue-name">{{ field_data.f3_t2_color }}</th>
                {% else %}
                    <h1>Invalid Field</h1>
                {% endif %}
            </tr>
        </table>
        
        <table class="score-table">
            <tr>
                <th class="red-header">
                    <h1 id="red-score">0</h1>
                </th>
                <th class="timer-header">

                </th>
                <th class="blue-header">
                    <h1 id="blue-score">0</h1>
                </th>
            </tr>
        </table>
    </div>
    <footer class="connection-footer">
        <h3 id="connection-status"></h3>
    </footer>
    <script>
        setURL("{% static 'scoring_system/audio/buzzer.mp3' %}");
        setURL2("{% static 'scoring_system/audio/BoxingBellRing.mp3' %}");
        startSocket();
    </script>
{% endblock %}