@media (orientation: landscape) {
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  .navbar {
    min-height: 80px;
  }

  .navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
}

@media only screen and (orientation: portrait) {
  .navbar {
    min-height: 150px;
  }

  .navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  .navbar-toggler-icon {
    padding: 50px !important;
  }

  .navbar-brand {
    padding: 0 30px;
    height: 160px;
    line-height: 160px;
  }

  .brand-image {
    height: 55px;
  }

  .nav-link {
    font-size: 35px;
  }
}