.page-header {
    height: 50%;
    margin-top: 10px;
    text-align: center;
}

.score-div {
    margin-left: auto;
    margin-right: auto;
}

.team-table, .score-table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

.red-name, .blue-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    width: 35%;
}

.vs {
    font-size: 35px;
}

.red-header {
    width: 35%;
    background-color: #ed1c24;
    text-align: center;
}

.blue-header {
    width: 35%;
    background-color: #0066b3;
    text-align: center;
}

#blue-score, #red-score {
    color: white;
    font-family: Helvetica;
    font-size: 60px;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.connection-footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-left: .3%;
}

div.timer {
    width:200px;
    height:100px;
    line-height:90px;
    font-size:50px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (orientation: portrait) {
    .team-table, .score-table {
        width: 96%;
    }

    .red-name, .blue-name{
        font-size: 40px;
    }

    .vs {
        font-size: 35px;
    }

    #red-score, #blue-score {
        font-size: 45px;
    }

    .timer-header {
        width: 200px;
    }

    #blue-score, #red-score {
        font-size: 50px;
    }

    div.timer {
        width:200px;
        height:100px;
        line-height:90px;
        font-size:50px;
    }
}